<?xml version="1.0"?>
<launch>

  <!-- user args -->
  <arg name="port" default="/dev/ttyACM0" doc="Port used by the Myo dongle. Check it with 'ls /dev/' and look for ttyACM0 for instance. You need to provide the full path." />
  <arg name="rviz" default="true" doc="rviz visualization or not"/>
  <arg name="node_name" default="myo_raw"/>

  <rosparam param="myo_name">['myo_upper', 'myo_lower']</rosparam>
  <!-- <rosparam param="myo_name">['myo_lower', 'myo_upper']</rosparam> -->
  <rosparam param="num_myo">2</rosparam>

  <!-- myo ros node -->
  <node pkg="connect_myo" name="$(arg node_name)" type="myo_raw" args="$(arg port)" output="screen"/>

  <!--visualization-->
  <group if="$(arg rviz)">
      <node
          name="rviz"
          pkg="rviz"
          type="rviz"
          args="-d $(find connect_myo)/config/rviz_display.rviz"> 
      </node>
  </group>

</launch>
